#form{
    width: 400px;
    height: 550px;
    border: 2px solid rgb(3, 3, 94);
    margin-left: 550px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgb(3, 3, 94);
}
h1{
    color: rgb(3, 3, 94);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
}
.ele{
    margin-left: 40px;
}
h3{
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   color: white;
   margin-right: 20px;
}
.formbox{
    padding-bottom: 20px;
    
}
.formbox input[type="text"]{
    width:300px;
    height:30px;
    display: flex;
    justify-content: center;
}
.formbox input[type="email"]{
    width:300px;
    height:30px;
    display: flex;
    justify-content: center;
}
textarea{
    width:300px;
    height:100px;
    display: flex;
    justify-content: center;
}
.example-full-width{
    width:310px;
    height:70px;
    display: flex;
    justify-content: center;

}
.btn-primary{
    margin-left: 100px;
    margin-top: 20px;
}



