<html>
    <body>
        <div class="nav">
            <div class="logo">
                
                <span>K M A Software Private Limited</span>
            </div>
            
          
           
            <div class="Options">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">product</a></li>
                <li><a href="">pricing</a></li>
                <li><a href="">contact us</a></li>
            </ul>
        </div>
    </div>
    </body>
</html>
